body{
	background-color: cyan;
}

h1{
	text-align: center;
	border: 2px double red;
	position:relative;
	width:1065px;
	margin-left:4em;
	border-radius:5px;
}

h2{
	text-indent:20px;
}

p{
	text-align:justify;
	text-indent:50px;
}

#container{
	border: 2px double yellow;
	position:relative;
	width:1000px;
	margin-left:8em;
	padding:2em;
	border-radius: 5px;
}

footer{
	text-align: center;
}
